

body{
    width:80%;
    background: linear-gradient(
        35deg,
        #9fb9b9,
        #dae1e4);
    
    font-family: Comic Sans MS;
    font-size: 50px;
}


h2{
    color:hsla(263, 66%, 43%, 0.801);
    background-color: hsla(202, 25%, 85%, 0.26);
    text-align:center;
    font-size:large;



}
img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    
}
#table
{  
    background-color:hsl(50%,20%,10%);
    color: rgb(30, 124, 187);
    border-color: black;
    border-width: 5px;
    border-style: solid;
}